body {
  margin: 0;
  padding: 0;

  background: rgb(30, 30, 30);
}

.h1 {
  font-family: Karla;
  font-style: normal;
  font-size: 72px;
  line-height: 84px;
  letter-spacing: 4px;
}

.h3 {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
}

.bold {
  font-weight: 700;
}
